#orderButton {
  background-color: #999999;
  cursor: pointer; 
  border: none;
}

#menu {
  position: relative;
  top: 10%;
  width: 84%;
  margin-left: 8%;
  margin-right: 8%;
}

img {
  width: 100%;
  max-width: 150px;
}

.menuItem {
  position: relative;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  top: 2%;
  background:
  linear-gradient(
    rgba(100, 100, 100, .5),
    rgba(100, 100, 100, .5));
  border-radius: 20px;
  width: 28%;
  height: 25%;
}

