{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'meny/css/meny_items.css' %}" />
{% if all_meny_items %}
<form id="meny" action="{% url 'order:order' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Bestill">
    {% for item in all_meny_items %}
      <div class="menyItem">
        <center>
        <img src="{% static "/meny/images/"%}{{item.picture_path}}"/>
        <h4>{{ item.name }}</h4>
        <input type="number" min="0" name="count">
        <input type="hidden" value="{{item.id}}" name="item_id">
        </center>
      </div>
    {% endfor %}
  </form>
{% else %}
  <p>No meny items</p>
{% endif %}
